body{
    background: black;
    color: rgb(200, 200, 200);
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.joke{
    height: 90px;
    font-size: 22px;
}
.change{
    margin: auto;
    width: 120px;
    height: 40px;
    border: none;
    font-size: 20px;
    color: rgb(200, 200, 200);
    background-color: rgb(20, 20, 20);
}

.change:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 20, 20);
}